body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.calculadora {
    background-color: #333;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2)

}


#pantalla {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 25px;
    text-align: right;
    padding: 5px;
    box-sizing: border-box;
}

.teclas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #e0e0e0;
    transition: background-color 0.2s;
}

button:hover {

    background-color: #7e7b7b;
}

button.igual {

    background-color: #ff9500;
    color: white;
    grid-row: span 2;
}

button.cero {

    grid-column: span 2;
}